*{
    margin: 0;
    padding: 0;
}

#box1 {

    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 15px;
    background-color: #fff;
    display: flex;
}

#box1>div {
    width: 50%;
    height: 100%;
}

#button_div {

    width: 97%;
    height: 45px;
    margin: auto;
    background-color: #2ecc71;
    border-color: #29b062;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#button_div:hover,
#button_div2:hover,
#button_div3:hover {

    background-color: #29b062;
}

.plus_symbol {
    color: #fff;
}

#button_div p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-left: 5px;
}

#steps_for_verify {

    width: 97%;
    height: 420px;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(250, 246, 246);
    border-radius: 5px;
}

#guide {

    width: 95%;
    height: 30px;
    margin: auto;
    margin-top: 15px;
}

#guide p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: inherit;
    font-size: 30px;

}

#guide2 {
    width: 95%;
    height: 270px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.guide2_1st_div {
    width: 10%;
    height: 100%;
}

.guide2_2nd_div {
    width: 90%;
    height: 100%;
}

.guide2_2nd_div>div {
    width: 100%;
    height: 90px;

}

.verify {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.email {
    font-family: "Open Sans", sans-serif;

}

#button_div2 {

    width: 130px;
    height: 35px;
    background-color: #2ecc71;
    border-color: #29b062;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #fff;

}

#para {
    font-weight: bold;
    color: #333;
    font-family: "Open Sans", sans-serif;
    margin-left: 13px;
}

#parent {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(250, 246, 246);
    border-radius: 5px;

}

#h2 {
    width: 100%;
    height: auto;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

#para2 {
    width: 100%;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.428571429;
    color: #333;
    margin-top: 15px;

}

#button2 {
    margin-top: 15px;
}

#button_div3 {
    width: 100%;
    height: 45px;
    margin: auto;
    background-color: #2ecc71;
    border-color: #29b062;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

#button_div3 p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-left: 5px;
}


#box2 {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    background-color: #fff;
    display: flex;
}

#box2>div {
    width: 50%;
    height: auto;
}

#list {
    width: 100%;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#box_nav {
    width: auto;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;

}


#button4 {
    display: flex;
    justify-content: end;
}

#button4>div {
    width: auto;
    height: 30px;
    margin-top: -30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;



}

#button4>div:hover {
    background-color: gray;
}

/* ************************* */
#comment_body>div {
    width: 100%;
    height: auto;
    border: 1px solid rgb(150, 140, 140);
    display: flex;
}


#image {
    width: 20%;
    height: 100%;

}

#user {
    width: 80%;
    height: 100%;
}

#image img {
    width: 50%;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 30px;
}

#user>div {

    width: 100%;
    height: 25px;
    font-weight: bold;
    color: #428bca;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;

}

#button5>button {

    height: 20px;
    border: none;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    color: #428bca;
    cursor: pointer;
}

#footer {
    margin-top: 80px;
}



#exer_9cate_grid{
    margin: 20px;
    gap: 10px;
}

#list{
    padding-left: 20px;
}

#button4 div{
    padding: 5px;
    margin-right: 5px;
}

#user{
    padding: 10px;
}