* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

;

.landing {
    width: 100%;
    /* height: 60px; */
    height: 600px;
    box-sizing: border-box;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
nav ul li a:hover {
    color: #26a9e1;
}

#srch_lv {
    vertical-align: middle;
    filter: invert(100%);
    width: 25px;
}

#srch_lv:hover {
    width: 26px;
}

nav {
    width: 100%;
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding: 20px 8%;
    display: flex;
    background-color: #0000003f;
    align-items: center;
    justify-content: space-between;

}

.display {
    display: block;

}

.dis_grid {
    display: grid;
}

.notdisplay {
    display: none;
}

#divinput {
    margin-top: 25px;
}

#divinput input {
    width: 25%;
    padding: 14px;
    border-radius: 7px;
    font-size: 18px;
    border: 1px solid rgb(207, 207, 207);
}

#videosection {
    /* border:  1px solid red; */
    /* height: 600px; */
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    box-sizing: border-box;
}

.content {
    text-align: center;
    margin-top: 270px;

}

.content h1 {
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.content button {

    padding: 14px 70px;
    margin-top: 20px;

    border-radius: 10px;
    border: #428bca;
    color: #ffffff;
    font-size: 18px;
}

#regi_button {
    width: 150px;
    padding: 15px 7px;
    background-color: #26a9e1;
    cursor: pointer;
}

#startfree {
    background-color: #26a9e1;
}

.facebbok {
    width: fit-content;
    background-color: #3b5998;
    cursor: pointer;
}

.content a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #fff;

}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* height: fit-content; */
    /* margin-top: 150px; */

}


@media (min-aspect-ratio:16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .video {
        width: auto;
        height: 100%;
    }
}

#extender {
    display: block;
    margin-top: 200px;
}

.mid-section {
    padding: 50px;
    /* margin-top: 19%; */

}

.mid-section {
    background-image: url("https://www.gymwolf.com/img/trainer-bg.jpg");
}

.mid-section p {
    width: 45%;
    margin-bottom: 37px;
    font-size: 20px;
    margin-top: 37px;

}

.mid-section button {

    padding: 14px 70px;
    margin-top: 23px;
    background-color: #243668;
    border-radius: 10px;
    border: #243668;
}

.mid-section a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #fff;

}

.mid-section-2 {
    padding: 40px;
    margin-top: 2%;

}

.mid-section h1 {
    color: #fff;
    font-size: 36px;
}

.mid-section-part-1 {
    display: flex;
    width: 90%;
    margin: auto;
    /* padding: 50px; */
    gap: 10%;
}

.mid-section-part-1 button {

    padding: 14px 70px;
    margin-top: 23px;
    background-color: #26a9e1;
    border-radius: 10px;
    border: #243668;
}

.mid-section-part-1 a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    /* width: 20%; */

}

.mid-section-part-1 h1 {
    color: black;
    font-size: 36px;
}

/* *************************      ********************************* */


.mid-section-part-2 {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 30%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mid-section-part-2 button {

    padding: 14px 70px;
    margin-top: 23px;
    background-color: #26a9e1;
    border-radius: 10px;
    border: #243668;
}

.mid-section-part-2 a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    /* width: 20%; */

}

.mid-section-part-2 h1 {
    color: black;
    font-size: 36px;
    /* padding-bottom: 50px; */
}

.mid-section-part-2 p {
    width: auto;
    margin-bottom: 37px;
    font-size: 20px;
    margin-top: 37px;


}

.mid-section-part-1 p {
    width: auto;
    margin-bottom: 37px;
    font-size: 20px;
    margin-top: 37px;


}

.mid-section-2 {
    background-color: #fff;
}

.label-default {
    margin-right: 5px;
    padding: 6px 15px;
    font-size: 36px;
    background-color: #fff;
}

.footer-lifted {
    padding-top: 112px;
    padding-bottom: 95px;
    background-color: #e6e7ea;
    text-align: center;
}

.footer-container {
    padding-top: 60px;
    font-size: 18px;
}

.container {
    width: 1170px;

    /* grid-template-rows: repeat(0,1fr); */
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* border: 1px solid rebeccapurple; */

}

.lead {
    width: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-2 {
    /* width: 16.666666666666664%; */
}

.footer .lead {
    margin-bottom: 20px;
    font-size: 14px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.copyright {
    width: auto;
}

.footerv {
    padding-top: 60px;
    font-size: 18px;

    /* border: 1px solid rebeccapurple; */
    padding-bottom: 50px;
    background-color: #26a9e1;
}

.footerv a,
.footerv a:visited,
.footerv a:hover,
.footerv a:focus {
    color: #ffffff;
}

.footerv a {
    text-decoration: none;
}

.copyright {
    color: #ffffff;
}

/* signin pop up */

#signin_form {
    width: 600px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 10;
    margin: auto;
    text-align: center;
    padding: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    position: fixed;
    top: 20px;
    left: 30%;
}

#signin_form>form {
    width: 70%;
    margin: auto;
    padding: 0 10%;
}

#signin_form * {
    font-family: Helvetica, sans-serif;

}

#signin_form input {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: block;
    margin-bottom: 25px;
    padding: 7px 14px;
    border-radius: 4px;
    border: 0.2px solid rgb(199, 199, 199);
}

#signin_form input::placeholder {
    color: rgb(168, 168, 168);
}

#cancel_signin {
    text-align: right;
    width: 100%;
    font-size: 12px;
    background-color: #fff;
    color: rgb(220, 220, 220);
    border: none;

}

#faxebbok2 {
    width: 100%;
    padding: 14px 20px;
    border-radius: 10px;
    border: #428bca;
    color: #ffffff;
    font-size: 18px;
}

#cancel_signin>span {
    border: 0.1px solid rgb(230, 230, 230);
    padding: 1px 5px;
}

#signin_form p {
    font-size: 11px;
}

#signIn_bt {
    width: fit-content;
    background-color: #26a9e1;
    border: none;
    padding: 10px 45px;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    border-radius: 9px;
    cursor: pointer;
}

#signIn_bt:disabled {
    background-color: rgb(182, 180, 180);
}

#signin_form>#signin_header {
    font-size: 24px;
    color: rgb(49, 49, 49);
}

.col-grey {
    color: grey;
}

.col-blue {
    color: rgb(14, 171, 233);
}

#frgt_pass {
    text-align: start;
    padding-left: 5px;
}

.underline {
    text-decoration: underline;
}

@media screen and (min-width:200px) and (max-width:768px) {
    .content {
        width: 100%;
        padding: 0;
        margin-top: 180px;
    }

    .content h1 {
        font-size: 33px;
        line-height: 50px;
    }

    #divinput input {
        width: 90%;
    }

    #regi_button {
        width: 100px;
    }

    .landing {
        background-image: url("https://www.gymwolf.com/img/header-bg.jpg");
        padding: 20px;

    }

    .lead {
        display: block;
    }

    div.play {
        display: block;
    }

    .playp {
        color: #ffffff;
    }

    #startfree {
        display: none;
    }

    .video {
        display: none;
    }

    .mid-section h1 {
        margin-top: 50px;
        margin-bottom: 18px;
        font-size: 28px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;

    }

    .mid-section p {
        margin-bottom: 24px;
        font-size: 16px;
        width: 100%;
    }

    .mid-section button {
        color: #ffffff;
        background-color: #041628;
        border-color: #041628;
        width: 350px;
        margin-left: 90px;
    }

    .mid-section-part-1 h1 {
        margin-top: 50px;
        margin-bottom: 18px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;

    }

    .mid-section-2 img {
        display: none;


    }

    .mid-section-2 {
        padding-top: 0px;
    }

    .mid-section-2 {
        width: 100%;
        /* border: 1px solid green; */
        padding-bottom: 0;
        /* display: none; */
    }

    .mid-section-part-1 p {
        margin-bottom: 24px;
        font-size: 16px;
        width: 100%;
        /* padding: 0; */
    }

    .mid-section-part-1 {
        width: 550px;
        /* border: 1px solid red; */
        text-align: center;
        padding: 0;
        width: 105%;
        text-align: center;
        margin: auto;
        margin-right: 50px;
    }

    .mid-section-part-1 button {
        width: 350px;
        margin-left: 30px;

    }

    .mid-section-part-2 button {
        width: 350px;
        margin-right: 30px;


    }

    .mid-section-part-2 {
        padding: 0;
    }

    .mid-section-part-2 p {
        margin-bottom: 24px;
        font-size: 16px;
        width: 100%;

    }

    .mid-section-part-2 h1 {
        margin-top: 50px;
        margin-bottom: 18px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;

    }

    .mid-section-part-2 {
        width: 550px;
        /* border: 1px solid red; */
        text-align: center;
        padding: 0;
        width: 105%;
        text-align: center;
        margin: auto;
        margin-right: 50px;
        gap: 0;

    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .footer-lifted {
        padding-top: 56px;
        padding-bottom: 50px;
        background-color: #e6e7ea;
        text-align: center;
    }

    .container div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        /* border: 1px solid red; */
    }

    .copyright {
        font-size: 12px;
    }
}

.color_RED {
    color: red;
    text-align: left;
}

.color_GREEN {
    color: rgb(2, 255, 2);
    text-align: left;
}