#pop_up_alert_msg {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px 3px grey;
    padding: 20px 55px;
    position: fixed;
    z-index: 100;
    display: block;
    top: 100px;
    left: 50%;
    text-align: center;
    animation: slide-in-top 00.2s 1 normal forwards;
    margin-left: -150px;
    /* transform: translate(-50%, -50%); */
}

.bord_gr {
    border: 5px double rgb(0, 245, 0);
}

.bord_rd {
    border: 5px double red;
}

#pop_up_ask_msg {
    width: 30%;
    background-color: #fff;
    box-shadow: 0 0 10px 3px grey;
    padding: 35px;
    position: fixed;
    border-radius: 7px;
    z-index: 100;
    top: 100px;
    animation: slide-in-top 0.2s ease 1 normal forwards;
    left: 30%;
    right: 30%;
    transform: translate(-50%, -50%);
}

#pop_up_ask_msg div {
    width: 100%;
    display: flex;

    justify-content: space-around;
}

#pop_up_ask_msg div>div {
    width: fit-content;
    border-radius: 4PX;
    padding: 7px 14px;
    border: 1px solid rgb(194, 193, 193);
}

#pop_up_ask_msg div>div:hover {
    background-color: skyblue;
    border: none;
}

#pop_up_ask_msg div>div:active {
    background-color: rgb(7, 108, 148);
    color: #fff;
}

#pop_up_ask_msg p {
    text-align: center;
    margin-bottom: 25px;
}

#blk_scrn {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}