*{
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: "Open Sans", sans-serif; */
}

.upper-body {
    display: flex;
    gap: 20px;
    color: #428bca;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;                                                                                                                                    
    padding: 10px 15px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: 30px;
}
.upper-body div{
    color: #428bca;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 3px;
    padding: 8px 12px;
}
.upper-body div:hover{
    background-color:rgb(238, 238, 238);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}
.upper-body-data{
    padding: 10px;
    margin: -6.9px;
    color:rgb(85, 85, 85);
    font-size: 14px;
    border-bottom: none;   
}
.upper-body>.focus{
    border: 1px solid #ccc;
    background-color: white;
    border-bottom: none;
    border-radius:px;
    color:rgb(85, 85, 85);
}
.upper-body-data:focus{
    border: 1px solid #ccc;
    background-color: white;
    border-bottom: none;
    color:rgb(85, 85, 85);
}

section{
    display:grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
    /* grid-template-columns: 80% 20%; */
    /* gap: 30px; */
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    width: 98%;

}

#profile{
    display: grid;
    text-align: center;
    min-height: 20px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    height: 400px;
    margin-top: 50px;
    /* border: 1px solid red; */
    /* float: right; */
}
#general-container,#Body_measurements-container, #privacy-data{
    border-top: 1px solid #ccc;
    margin-top: -5px;
    margin-left: 30px;
}


#general-name{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#general-name > h2 , #Body_measurements-container> h2, #privacy-data h2 {
    margin-top: 30px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color:rgb(51, 51, 51);
    margin-left: 10px;
}
#general-name > p{
    color:rgb(42, 100, 150);
    font-size: 14px;
}
#Body_measurements-container label{
    margin-bottom: 40px;
}

button{
    color: #fff;
    background: #2ecc71;
    border-color: #29b062;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;  
    font-family: "Open Sans", sans-serif;                                                          

}
.profile-pic-button{
    height: 35px;
    width: 90%;
    margin: auto;
    margin-top: -15px;
}
button:hover{
    background: #30b065;
    border-color: #207744;
}
#profile p{
    margin-top: -20px;
    margin-bottom: 20px;
}
#profile h4{
    color:rgb(36, 82, 105);
    font-size: 20px;
}
.save{
    padding: 8px 10px;
    margin-left: 30px;
}
.save-button{
    padding: 10px;
    background-color:rgb(238, 238, 238);
    margin-top: 20px;
    border: none;
    border-top: 1px solid rgb(208, 200, 200);
    margin-left: 50px;
}

label { 
    display: inline-block;
    width: 210px; 
    text-align: right;
    margin-bottom: 20px;
    font-weight: bold;
    color:rgb(51, 51, 51);
    font-size: 14px;
 }
.input-box{
    padding: 10px;
    width: 70%;
    color: #555;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    
}
.input-box:focus{
    outline:none;
}
select[name="birth-data"]{
    width: 10%;
}

.form-group>div>#gender-option{
    width:8%;
}
#gender-option{
    display: inline-block;
    width: 600px; 
    text-align:left;
    margin-bottom: -50px;
}
#gender_female{
    margin-left: 215px;
}

#email-id{
    display: inline-block;
    border: none;
}
.BM-input{
    width: 25%;
    border-bottom-right-radius:0px;
    border-top-right-radius: 0px;
    border-right: none;
}
.BM-height{
    width: 8%;
}
.units{
    padding: 8px 10px 9.5px 10px;
    border-bottom-left-radius:0px;
    border-top-left-radius: 0px;
    background-color:rgb(238, 238, 238);
}
.height-input{
    margin-bottom: -10px;
}

.not-display{
    display: none;
}
.display{
    display: block;
}
.span{
    background-color:rgb(238, 238, 238);
    margin-right: -6px;
    z-index: 1;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 7px 8px 9px 8px;
}
.url-input{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.profile-url{
    margin-top: 10px;
    
}

#url-box{
    margin-bottom: 50px;
    margin: auto;
    width: 90%;
}
#url-box>h4{
    font-weight: normal;
}
.url-box_div{
    margin-left: 150px;
    margin-top: 20px;
}

.privacy_name_image > img{
    float: left;
    margin: 3px 5px 0 0;
}

#privacy-data{
    font-size: 14px;

}

.email-notification-div > label, .private_public {
    text-align: start;
    width: 100%;
    margin-top: 20px;
}
.private_public span{
    color: #428bca;
    cursor: pointer;
}
.private_public span:hover{
    color: #428bca;
    text-decoration: underline;
    
}