/* #logout_container{
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1;
    color: #999;
    background-color: #fff;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 350px;
    right: 100;
   
}

#logout_container p{
 color: #333;
} */

/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */


  /* ----- */
  .dropdown ul{
    text-align: center;
    list-style: none;
    
  }


  .dropdown-content{
    cursor: pointer;
    display: none;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    font-size: 14px;
    position: absolute;
    margin-top: 30px;
    padding-top: 15px;
    animation: slide-in-top 0.2s ease 1 normal forwards;
    z-index: 3;
    
  }



  .dropdown-content li {
    
    /* float: left; */
    /* margin-left: -40px; */
    margin-bottom: 10px;
   
  }

  .dropdown-content .menu_line{
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .dropdown-content .menu_language{
    font-size: 12px;
    color: #999;
  }



  /* .dropdown:hover .dropdown-content{
    
    display: block;
    position: absolute;
    margin-top: 15px;

  } */
  .dropdown{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    
    box-sizing: border-box;
  }

  #profile_tab > *{
    padding-right:10px;
    display: inline-block;
  }

  @keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}