@import url("https://fonts.googleapis.com/css?family=Open Sans");

*{
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0px;
    line-height: 1.5;
    font-size: 14px;
    color: #333;
}

.background_blur{
    background-color: rgba(126, 126, 126, 0.505);
}



#blackblur{
    display: none;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}


#trainer_navbar{
    height: 80px;
}

#trainer_navbar nav{
    height: inherit;
    background-color: #041628;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    text-decoration: none;
}

.trainer_btn{
   
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

#trainer_header{
    background-color: #26a9e1;
    padding: 20px 0;
}

#trainer_header  h1{
    font-size: 28px;
    text-align: center;
    color: white;
}

h1,h2,h3,h4,h5,h5{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}

#trainer_page h2{
    margin-top: 43px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.trainer_container{
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.trainer_text{
    margin: 35px 0;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px;
}

.trainer_list_row .trainer_text{
    text-align: left;
}

hr{
    border: 1px solid #26a9e1;
    background-color: #26a9e1;
}

#trainer_list_header{
    text-align: center;
    margin-top: 43px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}


.trainer_list_row{
    margin: 50px 0px 80px 0px;

}

.trainer_list_row .trainer_img_container{
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 300px;
}

.trainer_img{
    border-radius: 6px;
    display: block;
    height: auto;
    max-width: 100%;
    
}

.list_row_col2 > .trainer_text {
    font-size: 16px;
    margin-top: 0;
}

.trainer_list_row h3{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}    

.trainer_btn_wh{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}


.trainer_btn_clr{
    background: #2ecc71;
    border-color: #29b062;
    color: #fff;
}


#trainer_steps > table > tbody > tr > td{
    padding: 0 0 10px 0;
    vertical-align: top;
    font-size: 16px;
}

#trainer_steps .trainer_steps_text{
    padding-left: 5px;
}

.trainer_steps_gymwolf {
    font-weight: bold;
    color: #26a9e1;
}

.text_center{
    text-align: center;
}

.trainer_mail{
    padding: 50px 0;
    margin: 80px 0 0 0;
}

.trainer_mail h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.trainer_mail a{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.trainer_mail p{
    margin: 20px;
}

.trainer_price_cards{
    background-color: #e6e7ea;
    padding: 50px 0 80px 0;
    margin: 0 0 50px 0;
}


.trainer_price_row{
    display: grid;
    
}

.trainer_price_row{
margin-right: -15px;
margin-left: -15px;
}

.trainer_price_col{
    width: 100%;
    padding: 0 15px;
}


.trainer_price_row .trainer_price_col .trainer_card_layout{
    margin: 0 0 20px 0;
    background-color: #fff; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-bottom: 10px;
}

.col1:hover .go_to_trainers1, .col3:hover .go_to_trainers3{
    color: white;
    background-color:#2ECC71
}



.trainer_card_top{
    margin: 0 0 20px 0;
    background-color: #f6f6f6;
}

.trainer_card_type{
    margin: 0 0 50px 0;
    padding-top: 40px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    
}

.trainer_card_price{
    padding: 0 0 20px;
}

.trainer_card_price .price {
    display: block;
}

.trainer_card_price .price .sign{
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

.trainer_card_price .price .currency{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

.trainer_card_price .price .month{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
    color: #414141;
}
.trainer_card_mid{
    background-color: #fff;
}


 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.trainer_card_mid ul li{
    font-size: 18px;
    padding: 15px 20px;
    color: #a7a7a7;
}
.trainer_card_mid ul li span{
    color: #414141;
}


.trainer_card_mid ul li .fa{
    padding: 0 10px;
    display: inline-block;
    color: #a7a7a7;
}

.trainer_card_bottom{
    margin: 20px 0 32px;

}

.go_to_trainers1,.go_to_trainers2,.go_to_trainers3{
    border: 1px solid #29b062;
    color: #2ECC71;
    display: inline-block;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.col1 .trainer_card_type,.col3 .trainer_card_type{
    color: #333;
    background-color: #fff;
}

.col1 .type1,.col3 .type3{
    color: #414141;
    background-color: #cbcbcb;
}

.col1:hover .type1, .col3:hover .type3 {
    color: white;
    background-color: #2ECC71;
}


.go_to_trainers2{
    color: white;
    background-color:#2ECC71
}


.col2 .trainer_card_type{
    color: white;
    background-color: #2ECC71;
}


.trainer_monthly_price{
    margin-bottom: 20px;
}






/* responsiveness */
@media(min-width: 768px){
    
    #trainer_header{
        background-image: url("https://www.gymwolf.com/img/trainer-bg.jpg");
        background-position: right center;
        padding: 53px 0;
        background-repeat: no-repeat;
    }
    #trainer_header  h1{
        font-size: 48px;
    }

    #trainer_page h2 {
        margin-top: 52px;
        margin-bottom: 43px;
        font-size: 36px;
    
    }

    .trainer_container{
       
        width: 750px;
    }

    
     .trainer_text{
        margin: 45px 0;
        font-size: 20px;
        font-size: 21px;
        text-align: center;
    }

    #trainer_list_header{
        margin-top: 52px;
        margin-bottom: 43px;
        font-size: 36px;
    }

    .trainer_list_row{
        display: flex;
        
    }

    .list_row_col1{
        width: 33.33%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .list_row_col2{
        width: 66.66%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .list_row_col2 > .trainer_text {
        font-size: 18px;
        text-align: left;
    }

    .trainer_list_row h3{
        margin-bottom: 20px;
        font-size: 30px;
        text-align: left;
    }

    .trainer_btn_wh{
        height: 60px;
        font-size: 20px;
        padding: 16px 20px;
    }

    #trainer_steps > table > tbody > tr > td{
        vertical-align: middle;
        font-size: 18px;
    }

    #trainer_steps > table > tbody > tr > .trainer_steps_num{
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        color: #e5e7e9;
        padding-left: 70px;
    }

    #trainer_steps .trainer_steps_text{
        padding-right: 70px;
        padding-left: 67px;
    }

    .trainer_price_row{

        grid-template-columns: repeat(2,1fr);
    }
    

}

@media(min-width:990px){
   
    .trainer_container {
    width: 970px;
   }

   
   .trainer_price_row{

    grid-template-columns: repeat(3,1fr);
}
}

@media(min-width:1200px){
    .trainer_container{
        width: 1170px;
       
    }
}



