#exer_9cate_grid {
    width: 100%;
    display: grid;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}

#exer_9cate_grid * {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

#exer_9cate_grid>div {
    aspect-ratio: 1;
}

#exer_9cate_grid>div a {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    font-size: 18px;
    text-decoration: none;

}

#exer_9cate_grid>div p {
    padding: 12px 0;
    box-sizing: border-box;
    background-color: rgba(39, 39, 39, 0.623);
}

#exer_9cate_grid>div:hover p {
    background-color: #0066beb7;
    padding: 20px;
}


@media screen and (max-width:650px) and (min-width:200px) {
    #exer_9cate_grid {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}