header,
footer * {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar {

    width: 100%;
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

#srch_lv {
    vertical-align: middle;
    filter: invert(100%);
    width: 25px;
}

#srch_lv:hover {
    width: 26px;
}


.display {
    display: block;

}

.notdisplay {
    display: none;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;

}

nav ul li a:hover {
    color: #26a9e1;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}



footer .label-default {
    margin-right: 5px;
    padding: 6px 15px;
    font-size: 36px;
    background-color: #fff;
}

footer .footer-lifted {
    padding-top: 112px;
    padding-bottom: 95px;
    background-color: #e6e7ea;
    text-align: center;
}

footer .footer-container {
    padding-top: 60px;
    font-size: 18px;
}

footer .container {
    width: 1170px;

    /* grid-template-rows: repeat(0,1fr); */
}

footer .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* border: 1px solid rebeccapurple; */

}

footer .lead {
    width: auto;
}

footer .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer .row {
    margin-right: -15px;
    margin-left: -15px;
}

/* footer .col-sm-2 {
    width: 16.666666666666664%; 
} */

footer .footer .lead {
    margin-bottom: 20px;
    font-size: 14px;
}

footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer .copyright {
    width: auto;
}

.play {
    display: none;
}

footer .footerv {
    padding-top: 60px;
    font-size: 18px;

    /* border: 1px solid rebeccapurple; */
    padding-bottom: 50px;
    background-color: #26a9e1;
}

footer .footerv a,
footer .footerv a:visited,
footer .footerv a:hover,
footer .footerv a:focus {
    color: #ffffff;
}

footer .footerv a {
    text-decoration: none;
}

footer .copyright {
    color: #ffffff;
}

/*  */
#signin_form {
    width: 600px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 10;
    margin: auto;
    text-align: center;
    padding: 50px;
    padding-top: 30px;
    box-sizing: border-box;
    position: fixed;
    animation: slide-in-top 0.2s ease 1 normal forwards;
    top: 20px;
    left: 30%;
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

#signin_form>form {
    width: 70%;
    margin: auto;
    padding: 0 10%;
}

#signin_form * {
    font-family: Helvetica, sans-serif;

}

#signin_form input {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: block;
    margin-bottom: 25px;
    padding: 7px 14px;
    border-radius: 4px;
    border: 0.2px solid rgb(199, 199, 199);
}

#signin_form input::placeholder {
    color: rgb(168, 168, 168);
}

#cancel_signin {
    text-align: right;
    width: 100%;
    font-size: 12px;
    background-color: #fff;
    color: rgb(220, 220, 220);

}

#cancel_signin:hover {
    color: rgb(31, 29, 29);
}

#cancel_signin:hover>span {
    border: 0.1px solid rgb(31, 31, 31);
    cursor: pointer;
}

#cancel_signin>span {
    border: 0.1px solid rgb(230, 230, 230);
    padding: 1px 5px;
}

#signin_form p {
    font-size: 11px;
}

#signin_form>#signin_header {
    font-size: 24px;
    color: rgb(49, 49, 49);
}

.col-grey {
    color: grey;
}

.col-blue {
    color: rgb(14, 171, 233);
}

#frgt_pass {
    text-align: start;
    padding-left: 5px;
}

.underline {
    text-decoration: underline;
}

#logo2 {
    display: none;
}

@media screen and (min-width:200px) and (max-width:768px) {

    #signin_form {
        width: 95%;
        border-radius: 5px;
        background-color: #fff;
        z-index: 10;
        margin: auto;
        text-align: center;
        padding: 50px;
        padding-top: 30px;
        box-sizing: border-box;
        position: fixed;
        animation: slide-in-top 0.2s ease 1 normal forwards;
        top: 20px;
        left: 2.5%;
        right: 2.5%;
    }

    #signin_form>form {
        width: 100%;
        margin: auto;
        padding: 0 10%;
    }

    #logo {
        display: none;
    }

    #logo2 {
        display: block;
    }

    nav #menubtn {
        display: inline-block;
    }

    #register {
        display: none;
    }

    #login {
        display: none;
    }

    #extra_nav {
        left: 0;
        border-top: 2px solid gray;
        top: 95px;
        position: fixed;
        width: 100%;
        background-color: #041628;
        text-align: center;
        width: 100%;
        z-index: 5;


    }

    #extra_nav p {
        padding: 10px 0;
        box-sizing: content-box;
        width: 90%;
        margin: 15px auto;
    }

    #extra_nav p:hover {
        background-color: #082542;
    }

    nav {
        background-color: #041628;
        ;
    }

    .footer-lifted {
        padding-top: 56px;
        padding-bottom: 50px;
        background-color: #e6e7ea;
        text-align: center;
    }

    .container div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        /* border: 1px solid red; */
    }

    .copyright {
        font-size: 12px;
    }


}




#menubtn {
    color: #ffffff;
    border: 1px solid white;
    padding: 2px 7px;
    cursor: pointer;
    display: none;

}

#extra_nav a {
    color: #ffffff;
    text-decoration: none;


}

#smallscr {
    display: none;
}